body{
    margin: 0;
    padding: 0;
    background-color: white;
}

#pageContainer{
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    gap: 20px;
}

#achievoLabel{
    font-family: monospace;
    font-size: 26px;
    color: #1d3557;
}

#navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ced4da;
}

#buttons{
    display: flex;
    width: 20vh;
    flex: 8;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.navigationButtons{
    display: flex;
    width: 40vh;
    height: 30px;
    width: 100%;
    padding: 20px 10px 20px 30px;
    border: 0px;
    background-color: #ced4da;
    text-align: left;
    align-items: center;
    font-size: 17px;
}
.navigationButtons:hover{
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

#achievoLabelDiv{
    flex: 2;
}

/*-----------DASHBOARD CSS*-----------*/

#workplace{
    display: flex;
    flex-direction: column;
}

/*Dashboard divs*/
#dashboardNav{
    flex: 1;
}

#dashboardMain{
    display: flex;
    flex-direction: row;
    flex: 9;
    gap: 20px;
    background-color: white;
}

#checkboxContainer{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    background-color: #cbdfbd;
    border: 1px solid #cbdfbd;  
    border-radius: 15px;
    width:fit-content;
    height: auto;
}

#pointsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    background-color: #9fc1e0;
    border: 1px solid #9fc1e0;  
    border-radius: 15px;
    width: 110px;
    height: auto;
}

#taskName{
    padding: 8px;
    border: 1px solid #1d3557;
    border-radius: 20px;
}

/*Insert button*/
#insertButton{
    padding: 8px;
    border: 1px solid rgb(234, 234, 234);
    background-color: white;
    width: 60px;
    border-radius: 20px;
}
#insertButton:hover{
    background-color: rgb(234, 234, 234);
    color: #1d3557; 
    animation-duration: 0.6ms;
    cursor: pointer;
}

/*Delete button*/
#deleteButton{
    padding: 8px;
    border: 1px solid rgb(255, 91, 91);
    background-color: rgb(255, 131, 131);
    color: white;   
    width: 60px;
    border-radius: 20px;
}
#deleteButton:hover{
    background-color: rgb(255, 91, 91);
    color: white;
    animation-duration: 0.9ms;
    cursor: pointer;
}

/*Edit button*/
#editButton{
    padding: 8px;
    border: 1px solid rgb(104, 199, 130);
    background-color: rgb(154, 222, 168);
    color: black;   
    width: 60px;
    border-radius: 20px;
}

#editButton:hover{
    background-color: rgb(104, 199, 130);
    color: white;
    animation-duration: 0.9ms;
    cursor: pointer;
}

#editLabelButton{
    padding: 8px;
    border: 1px solid rgb(104, 199, 130);
    background-color: rgb(154, 222, 168);
    color: black;   
    width: 60px;
    border-radius: 20px;
}

#editLabelButton:hover{
    background-color: rgb(104, 199, 130);
    color: white;
    animation-duration: 0.9ms;
    cursor: pointer;
}
/*Cancel button*/
#cancelButton{
    padding: 8px;
    border: 1px solid rgb(234, 234, 234);
    background-color: white;
    width: 60px;
    border-radius: 20px;
}
#cancelButton:hover{
    background-color: rgb(234, 234, 234);
    color: #1d3557; 
    animation-duration: 0.6ms;
    cursor: pointer;
}
/*----CRUD BUTTONS----*/
.hidden{
    display: none;
}

/*-------*/
#editInput{
    padding: 8px;
    border: 1px solid #1d3557;
    border-radius: 20px;
}

#usernameDisplay{
    text-align: right;
    margin-right: 100px;
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1d3557;
}